
  <ion-header *ngIf="!isLogged">

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="!isLogged" style="background-color: teal">
  <div style="text-align: center">
      <img src="../../assets/imgs/mycaddie.png">
  </div>
  
  <button ion-button full color="light" (click)="loginWithGoogle()">Se connecter avec google</button>
</ion-content>
<ion-tabs *ngIf="isLogged">
  <ion-tab [root]="tab1Root" tabTitle="Parties" tabIcon="trophy"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Profile" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contacts" tabIcon="contacts"></ion-tab>
</ion-tabs>
