<ion-header>
  <ion-navbar>
    <ion-title>Parties</ion-title>
    <ion-buttons end>
      <button ion-button clear color="primary">Nouvelle partie
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let game of userGames" (click)="gameSelected(game)">
      <ion-icon name="information-circle" color="primary" *ngIf="!game.isOpen" item-start></ion-icon>
      <ion-icon name="alert" color="danger" *ngIf="game.isOpen" item-start></ion-icon>
      <h2>{{game.clubComplete.name}}</h2>
      <h3>{{game.courseComplete.name}} - {{(game.date | date:'mediumDate')}}</h3>
    </button>
  </ion-list>
</ion-content>